@font-face {
  font-family: 'Play Regular';
  src: url(assets/fonts/Play-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Play Bold';
  src: url(assets/fonts/Play-Bold.ttf) format('truetype');
}

:root {
  --color-primary: #b1caff;
  --color-dark: #000;
  --color-light: #fff;
  --color-add2: #ff0;
  --font-size-basic: 0.625rem;
  --content-width-laptop: 102.4rem;
  --content-width-tablet: 76.8rem;
  --content-width-mobile: 41.4rem;
  --content-width-mobile-small: 32rem;
  --font-family-regular: 'Play Regular', sans-serif;
  --font-family-bold: 'Play Bold', sans-serif;
  --container-width: calc(100vw * 0.37);
  --container-height: calc((var(--container-width) * 0.5625) + 2.6rem);
}

@media (max-width: 1024px) {
    :root {
      --container-width: calc(100vw * 0.70);
  }
}

@media (max-width: 768px) {
    :root {
      --container-width: calc(100vw * 0.80);
  }
}

@media (max-width: 414px) {
    :root {
      --container-width: 32rem;
  }
}

html {
  font-size: var(--font-size-basic);
  font-family: var(--font-family-regular);
}

body {
  position: relative;
  color: var(--color-dark);
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
  caret-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 5%;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(assets/images/bg.jpg);
  background-size: cover;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
}

.cloud-bg {
  display: block;
  width: 25%;
  height: 25vh;
  background-repeat: no-repeat;
}

.cloud-bg:first-of-type {
  background-image: url(assets/images/bg-cloud-lt.svg);
  margin: 1% auto auto 1%;
  animation: pulse-animation 5s infinite;
}

.cloud-bg:nth-of-type(2) {
  background-image: url(assets/images/bg-cloud-rt.svg);
  margin: 1% 1% auto auto;
  animation: pulse-animation 4s infinite;
}

.cloud-bg:nth-of-type(3) {
  background-image: url(assets/images/bg-cloud-lb.svg);
  background-position: bottom;
  margin: auto auto 1% 1%;
  animation: pulse-animation 3s infinite;
}

.cloud-bg:nth-of-type(4) {
  background-image: url(assets/images/bg-cloud-rb.svg);
  background-position: bottom;
  margin: auto 1% 1% auto;
  animation: pulse-animation 6s infinite;
}

@media (max-width: 1024px) {
  .cloud-bg {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .cloud-bg {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .cloud-bg {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .cloud-bg {
    width: 45%;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  border-radius: 2rem;
  background-color: var(--color-light);
  padding: 2rem;
  box-shadow: 0 0 2rem #00000060;
}

.header-container {
  margin: 2rem 0 4rem;
}

.header-container h1 {
  width: fit-content;
  margin: 0rem auto;
}

/* Tabs */

.accordion-tab {
  height: 3rem;
  border: 0.2rem solid #3d6ded;
  border-radius: 2.5rem;
  padding: 1.5rem;
  margin-bottom: 2.0rem;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.tab-label {
  display: grid;
  grid-template-columns: auto 2.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
}

.tab-label__text {
  font-family: var(--font-family-bold);
  margin: 0;
  grid-column: 1 / 2;
}

.tab-label__input {
  display: none;
}

.tab-label__icon {
  display: block;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(assets/images/plus.svg);
  background-size: cover;
  transition: 300ms ease-in-out;
}

.tab-label__content {
  grid-column: 1 / 3;
  overflow: hidden;
  /* height: 0; */
  line-height: 0;
}

.tab-label__content-img {
  width: 100%;
  border-radius: 13px;
  /* height: 0; */
  /* transition: 300ms ease-in-out; */
}

/* .accordion-container input[type="checkbox"]:checked ~ .tab-label__icon {
  transform: rotate(135deg);
}

.accordion-container input[type="checkbox"]:checked ~ .tab-label__content {
  height: auto;
}

.accordion-container input[type="checkbox"]:checked ~ .tab-label__content img {
  height: auto;
} */


.accordion-container input[type="checkbox"]:checked + .accordion-tab .tab-label__icon {
  transform: rotate(135deg);
}

.accordion-container input[type="checkbox"]:checked + .accordion-tab {
  height: var(--container-height);
}